<h1>Adicionar transacao</h1>

<p>AAAAAAAAAAAAAAAAA.</p>

<p aria-live="polite">Current count: <strong>{{ currentCount }}</strong></p>

<button class="btn btn-primary" (click)="incrementCounter()">Increment</button>

<form (ngSubmit)="onSubmit()" class="form-control">
  <label>
    Valor:
    <input name="value" [(ngModel)]="transaction.value">
  </label>
  <label>
    Data:
    <input name="date" [(ngModel)]="transaction.date">
  </label>
  <label>
    Tipo:
    <input name="type" [(ngModel)]="transaction.type">
  </label>
  <label>
    Descricao:
    <input name="description" [(ngModel)]="transaction.description">
  </label>
  <label>
    Categoria:
    <input name="category" [(ngModel)]="transaction.category">
  </label>

  <button type="submit" class="btn btn-success" >Adicionar</button>
</form>


